
.borderless{
    /* width: 80%; */
}

.borderless ul{
    font-size: 20px;
    line-height: 40px;
    color:#A0AEC0;
    font-weight: 500; 
    padding-left: 20px;
}
.borderless h3{
    margin-bottom: 20px;
    margin-top: 40px;
}
.picture{
    padding-top: 50px;
}
.pichure{
    padding-bottom: 50px;
}